@CHARSET "UTF-8";

.header{background-color:#347ad9; margin-bottom: 5px; color:#fff;}
.logout{color:#fff; text-decoration:none; text-align:right;}
.logout:hover{color:#fff; text-decoration:none; text-align:right; font-weight:bold;}
.logout:visited{color:#fff; text-decoration:none; text-align:right;}
.logout:focus{color:#fff; text-decoration:none; text-align:right;}

.loader{width: 70px; height:70px; margin-auto; background-image: url('http://www.hepfu.vn/public/images/loader_7.gif');background-size: contain; margin-bottom:-30px;}
.loader img{max-width: 70px; max-height:100px;}

.index-input{margin-bottom:10px;}
.index-log-container{position:relative; top:40px; width:50%; margin:auto;}
.index-log-in-button{width:100%;}

.unable-row{background-color:#ddd !important;}


.student-table{max-height:500px; overflow-y:auto;}
.table-container{overflow-y:auto; max-height:250px;}

.correct-answer{color:green !important;}
.false-answer{color:red !important;}