@CHARSET "UTF-8";

.index-input{margin-bottom:10px;}
.index-log-container{position:relative; top:40px; width:50%; margin:auto;}
.index-log-in-button{width:100%;}

.unable{background-color:#ddd !important;}