<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- local connection properties -->
		<property name="hibernate.connection.url">
			jdbc:sqlserver://odn1rsqdjp.database.windows.net:1433;database=Java2015;user=Brulishkin@odn1rsqdjp;password=2015CorpPass;encrypt=true;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
		</property>
		<property name="hibernate.connection.driver_class">
			com.microsoft.sqlserver.jdbc.SQLServerDriver
		</property>
		<property name="hibernate.connection.username">Brulishkin</property>
		<property name="hibernate.connection.password">2015CorpPass</property>
		<!-- property name="hibernate.connection.pool_size"></property -->
		<!-- dialect for Microsoft SQL Server -->
		<property name="dialect">
			net.sf.hibernate.dialect.SQLServerDialect
		</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.use_outer_join">true</property>
		<property name="hibernate.transaction.factory_class">
			net.sf.hibernate.transaction.JDBCTransactionFactory
		</property>
		<property name="jta.UserTransaction">
			java:comp/UserTransaction
		</property>
		<mapping resource="UserQuestions.hbm" />
		<mapping resource="Subjects.hbm" />
		<mapping resource="Users.hbm" />
		<mapping resource="UserSubjects.hbm" />
		<mapping resource="Questions.hbm" />
		<mapping resource="Tests.hbm" />
		<mapping resource="Answers.hbm" />
		<mapping resource="Promotions.hbm" />
		<mapping resource="UserTests.hbm" />
		<mapping resource="TeacherPromotions.hbm" />
		<mapping resource="QuestionAnswers.hbm" />
		<mapping resource="Categories.hbm" />
		<mapping resource="StudentAnswers.hbm" />
	</session-factory>
</hibernate-configuration>
